<ul class="breadcrumb">
        <li><%=link_to "Setting",admin_setting_path%></li>
        <li class="active">Branch  List</li>
    </ul>


<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-3" style="float:left;margin-left:10px;">
      <%=form_tag branches_path,:method=>"get" do %>
      <%=text_field_tag :search,params[:search],:placeholder=>"Branch Name"%>
     <%=submit_tag "Search",:name=>nil,:class => "btn btn-warning btn-mini", "data-disable-with"=> "Just a moment..."%>
      <%end%>
    </div>
    <div class="col-xs-2" style="float:left;margin-left:700px;">
    <%= link_to 'New Branch', new_branch_path,class: "btn btn-success" %>
    </div>
  </div>

 <hr></hr>

<table class="table">
  <thead>
    <tr>
      <th>Branch name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.branch_name %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch),class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

