<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have  leave request from <%=@requester_data.name%> having employee code <%=@requester_data.emp_code%> .Leave from date <%=@leave_details.start_date%> to <%=@leave_details.end_date%></p>
    <p>You want to approve it,please login <%=@lms_url%></p>
  </body>
</html>