<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p>You have made <%=@leave_details.leave_type%> request from <%=@leave_details.start_date%> to <%=@leave_details.end_date%> having reason <%=@leave_details.reason_for_leave%></p>
   <p>To see the status of your leave please login,<%=@lms_url%></p>
  </body>
</html>